[submodule "async-worker"]
	path = async-worker
	url = git@github.com:a24fukuda/pytoolkit-async-worker.git
[submodule "template"]
	path = template
	url = git@github.com:a24fukuda/pytoolkit-template.git
[submodule "metadata"]
	path = metadata
	url = git@github.com:a24fukuda/pytoolkit-metadata.git
[submodule "result"]
	path = result
	url = git@github.com:a24fukuda/pytoolkit-result.git
