[submodule "template"]
	path = template
	url = git@github.com:a24fukuda/pytoolkit-template.git
[submodule "metadata"]
	path = metadata
	url = git@github.com:a24fukuda/pytoolkit-metadata.git
[submodule "rustlike"]
	path = rustlike
	url = git@github.com:a24fukuda/pytoolkit-rustlike.git
